user_uuid="82c1ee52-e46d-4bbf-917b-26be9fd816c9"
bucket_name="ivcj9ect1ex2hk158j6uozqdfbdj8f2l"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2